@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

html {
	background: blue;
}

.test {
  display: flex;
}

.test2 {
  display: flex;
}

.test3 {
  display: flex;
}

.chat,
.find {
	display: hidden;
}

#chatWrapper,
#chatWindow {
	background-color: white;
	display:hidden;
}
